---
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/header-home-min.jpg
intro: 
  - excerpt: "Welcome"
feature_row:
  - image_path: /assets/images/silly-guy.jpg
    alt: "placeholder image 2"
    title: "Tech"
    excerpt: "Computer Science, Technology, Geek...."
    url: "/blog/tech"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: assets/images/silly-guy.jpg
    alt: "placeholder image 1"
    title: "Life"
    excerpt: "Thoughts about my life or any subjective opinions"
    url: "/blog/life/"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: assets/images/silly-guy.jpg
    alt: "???"
    title: "Miscellneous"
    excerpt: "for placing posts which cannot be categorized"
    url: "/blog/misc/"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row2:
  - image_path: /assets/images/silly-guy.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Left Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Left aligned with `type="left"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row3:
  - image_path: /assets/images/silly-guy.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Right Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Right aligned with `type="right"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row id="feature_row" %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}

